// Override default Bootstap's variables before the import

$body-bg: #f8f9fa;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.75;
$list-group-item-padding-x: 0.25rem;
$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;

// Import Bootstrap and its default variables

@import '~bootstrap/scss/bootstrap.scss';

// Responsive font-size with Bootstrap's breakpoints

html {
    font-size: .8rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: .9rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.1rem;
    }
  }

// Toastify

.Toastify__toast-container {
    width: auto;
    max-width: 400px;
}

.Toastify__toast {
    padding-left: 15px;
    padding-right: 35px;
}

.Toastify__close-button {
    position: absolute;
    top: 0px;
    right: 7px;
}

.Toastify__toast-body {
  font-size: .9rem;
}

@media only screen and (max-width: 480px) {

  .Toastify__toast-container {
    width: auto;
    padding: 4px;
    left: auto;
    margin: 0;
  }

  .Toastify__toast-body {
    font-size: 1rem;
  }

  .Toastify__toast-container--top-right {
    top: .5em;
    right: .5em;
  }

}

// Loader

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #6c757d;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Button Switch Logout

.custom-control-label::before {
  border-color: #6c757d;
}

.custom-switch .custom-control-label::after {
  background-color: #6c757d;
}

// My classes

.entete {
  position: relative;
  overflow: hidden;
  padding: 3rem 1.5rem;
}

.bg-entete {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  z-index: -1;
  background-color: $primary;
  background-image: url(./images/entete.jpg);
  background-repeat: repeat;
  background-size: calc(100% / 4); // Diviser par un nombre divisible par 4 pour un loop bien raccordé
  animation: defilement 120s linear infinite;
}

@include media-breakpoint-up(lg) {
  .bg-entete {
    background-size: calc(100% / 8);
  }
}

@keyframes defilement{
  0%{transform: translate(0,0);}
  100%{transform: translate(-75%,0);}
}

.link-h1 {
  font-weight:300;
  text-transform: uppercase;
  color:#fff;
}

.link-h1:hover {
  text-decoration: none;
  color:#fff;
}

.pointer, .pointer * {
  cursor: pointer;
}

.py-5-responsive {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

@include media-breakpoint-up(md) {
  .py-5-responsive {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@include media-breakpoint-up(sm) {
  .list-group-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}